<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <link th:rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{static/style.css}"/>
</head>
<body>
<div class="body">
    <div class="container">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" th:src="*{postForm.url}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Name</h5>
                <p class="card-text">Description</p>
                <p class="card-text">Price</p>
                <p th:if="${currentUser.id} != ${postForm.seller.id}">
                    <a th:href="@{/buypost/{id}(id=${postForm.getId()})}" class="btn">Buy</a>
                </p>
                <p th:if="${currentUser.id} == ${postForm.seller.id}">
                    <a th:href="@{/closepost/{id}(id=${postForm.getId()})}" class="btn">Close post</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>