<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
    <link th:rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{static/style.css}"/>
</head>
<body>
<form th:method="POST" th:action="@{/useredit/{id}(id=${userForm.getId()})}" th:object="${userForm}">
    <h2>Изменение данных пользователя <span th:text="${userForm.getUsername()}">username</span></h2>
    <div th:if="${accessError}">
        <div style="color: red" th:text="${accessError}"></div>
    </div>

    <label for="firstName">Enter first name: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" >firstName error</div>

    <br/>

    <label for="lastName">Enter last name: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" >lastName error</div>

    <br/>

    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div th:if="${emailError}">
        <div style="color: red" th:text="${emailError}"></div>
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >email error</div>

    <br/>

    <label for="phoneNumber">Enter phone number: </label>
    <input type="text" th:field="*{phoneNumber}" id="phoneNumber"/>
    <div th:if="${phoneError}">
        <div style="color: red" th:text="${phoneError}"></div>
    </div>
    <div style="color:red" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" >email error</div>

    <div th:if="${roles}">
        <select th:field="*{role}">
            <option th:each="role : ${roles}"
                    th:value="${role.id}"
                    th:utext="${role.name}"></option>
        </select>
    </div>

    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>