$font-size: 30px;


html, body {
  height: 100%;
  margin: 0;
}

.body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &__item {
    height: 100px;
    display: inline-block;
    font-size: $font-size;
    color: #000000;
    cursor: pointer;
    position: relative;
    &:after {
      position: absolute;
      transition: all ease-in-out 0.3s;
      content: '';
      background: lighten(#000000, 30%);
      display: block;
      height: 3px;
      width: 0;
    }
    &:hover {
      text-decoration: none;
      color: lighten(#000000, 30%);
      &:after {
        height: 3px;
        width: 100%;
      }
    }
  }
}

.btn {
  font-size: $font-size / 1.5;
  background: lighten(#000000, 30%);
  color: #ffffff;
  &:hover {
    background: #000000;
    color: #ffffff;
  }
  &:focus {
    box-shadow: none;
  }
}

.form-control {
  transition: ease-in-out 0.2s;
  border: 2px solid lighten(#000000, 90%);
  font-size: $font-size / 1.5;
  &:focus {
    box-shadow: 0 0 0 0.1rem lighten(#000000, 90%);
    outline: none;
    border: 2px solid lighten(#000000, 90%);
  }
}

.form-item__heading {
  font-size: $font-size / 1.5;
  &_description {
    transition: none;
    min-height: 150px;
    resize: none;
  }
}

.alert {
  color: red;
  padding-left: 0;
}

.small-img {

}

.card-list {
  position: relative;
  &__img {
    max-height: 255px;
    width: auto;
  }
  &__item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border: 2px solid lighten(#000000, 90%);
  }
  &__description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
