<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create new category</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="body">
    <div class="container">
        <h2>New category</h2>
        <form th:method="POST" th:action="@{/create_category}" th:object="${categoryForm}">
            <div class="form-group">
                <label class="form-item__heading" for="name">Name</label>
                <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Name" required>
            </div>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</div>
</body>
</html>