<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create post</title>
</head>
<body>
<form th:method="POST" th:action="@{/create_post}" th:object="${postForm}">
    <h2>New post</h2>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>

        <tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}"/></td>
        </tr>

        <tr>
            <td>Picture url:</td>
            <td><input type="text" th:field="*{url}"/></td>
        </tr>

        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"/></td>
        </tr>

        <tr>
            <td>Select category:</td>
            <td>
                <select th:field="*{category}">
                    <option value="">Choose category</option>
                    <option th:each="category : ${categories}"
                            th:value="${category.id}"
                            th:utext="${category.name}"></option>
                </select>

            </td>
        </tr>

        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
            <td><a th:href="@{/}">Home</a></td>
        </tr>
    </table>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >name error</div>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}" >price error</div>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}" >description error</div>
</form>

</body>
</html>