<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
</head>
<body>
    <div th:each="post : ${posts}">
        <p>
            Name : <span th:text="*{post.name}"></span>
        </p>
        <p>
            Price : <span th:text="*{post.price}"></span>
        </p>
        <p>
            <a th:href="@{/post/{id}(id=${post.getId()})}">
                <img th:src="${post.url}"
                     width="189" height="255" alt="lorem">
            </a>
        </p>
    </div>
    <p><a href="/">Home</a></p>
    <p><a href="/create_post">Create post</a></p>
</div>
</body>
</html>