<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="body">
    <div class="container" th:each="post : ${posts}">
        <div class="card-list__item">
            <a th:href="@{/post/{id}(id=${post.getId()})}">
                <img class="small-img" th:src="${post.url}" alt="lorem">
            </a>
            <span th:text="*{post.name}">Name(уберешь)</span>
            <span class="card-list__price" th:text="*{post.price}">Price(уберешь)</span>
            <span class="card-list__description" th:text="*{post.description}">(Уберешь)Very long description Very long description Very long description Very long description Very long description Very long description Very long description </span>
        </div>
        <a class="ml-2" href="/create_post">Create post</a>
    </div>
</div>
</div>
</body>
</html>